## Mandatory properties

# One of: windows, linux
#os=linux

# One of: amd64, arm64
#arch=amd64

# One of: work, enduser
#mode=work

# One of: none, java, cangjie, cangjie-java, scala
#language.pack=cangjie


## Optional properties

# Determines whether jc runs as part of JET toolchain (false) or independently (true)
# One of: true, false
#jc.standalone=false

# Path to flatc
#flatc=<jet-build-tools>/open-source/flatbuffers/flatbuffers-25.2.10-linux-x86_64/flatc

# Path to xscala
#xscala=<jet-repo>/scala/xscala

# Determines whether to replace regular scala library (true) with xscala library (false)
# One of: true, false
#xscala.bootstrapped=false

# Determines virtual machine which will run resulting compiler artifact
# One of: jdk, jet
#xscala.vm=jdk

