## Mandatory properties

# One of: amd64, arm64
#arch=amd64

# One of: work, enduser
#mode=work


## Optional properties

# Path to flatc
#flatc=<jet-build-tools>/open-source/flatbuffers/flatbuffers-25.2.10-linux-x86_64/flatc

